<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="primero-dam">
      <ion-icon name="battery-dead-outline"></ion-icon>
      <ion-label>1ºDAM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="segundo-dam">
      <ion-icon name="battery-half-outline"></ion-icon>
      <ion-label>2ºDAM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fct">
      <ion-icon name="battery-full-outline"></ion-icon>
      <ion-label>FCT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
