<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="secondary" slot="start" defaultHref="inicio"></ion-back-button>
      <ion-title>FCT</ion-title>
    </ion-buttons>
    <ion-button slot="end" color="primary">
      <ion-icon icon name="star"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>1ºDAM</ion-label>
    <ion-button fill="outline" slot="end">Más</ion-button>
  </ion-item>

  <ion-card-content>
    Grado Superior de Desarrollo Multiplataforma que se puede cursar en EFA Moratalaz
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>2ºDAM</ion-label>
    <ion-button fill="outline" slot="end">Más</ion-button>
  </ion-item>

  <ion-card-content>
  Segundo año de Grado Superior de Desarrollo Multiplataforma que se puede cursar en EFA Moratalaz
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>1º SMR</ion-label>
    <ion-button fill="outline" slot="end">Más</ion-button>
  </ion-item>

  <ion-card-content>
  Grado Medio Sistemas Microinformaticos y Redes que se puede cursar en EFA Moratalaz
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>2º SMR</ion-label>
    <ion-button fill="outline" slot="end">Más</ion-button>
  </ion-item>

  <ion-card-content>
  Segundo año de Grado Medio Sistemas Microinformaticos y Redes que se puede cursar en EFA Moratalaz
  </ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button onclick="window.open('https://vimeo.com/es')"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    <ion-fab-button onclick="window.open('https://es-es.facebook.com/')"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button onclick="window.open('https://www.instagram.com/')"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    <ion-fab-button onclick="window.open('https://twitter.com/')"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

</ion-content>

